#chatroom {
  width: 60vw;
  max-width: 60vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 200px;
  max-height: 200px;
  background-color: rgb(83, 87, 95);
  color: aliceblue;
}

#input {
  width: 120vh;
  height: 5vh;
  color: black;
}

.msg {
  height: 20px;
}
