body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: #313335;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: aliceblue;
}
#playbar {
  background-color: #0b1a26;
}
#topbar {
  width: 100%;
  height: 10vh;
  background-color: #0b1a26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh 0 10vh;
  color: aliceblue;
}

.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  background-color: #0b1a26;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  color: aliceblue;
  position: fixed;
  left: 0;
  bottom: 0;
}
.rhap_time {
  color: aliceblue;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

#middle {
  display: flex;
  flex-direction: row;
  color: aliceblue;
}

#sidebar {
  width: 15vw;
  height: 200vh;
  background-color: #14212e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

#sidebar.a {
  margin: 10px;
}

#main {
  height: 80vh;
  width: 90%;
  background-color: #222a32;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: aliceblue;
}
.show {
  max-height: 20vh;
  color: aliceblue;
}
.show_list_title {
  font-size: 2vh;
  color: aliceblue;
}

#show_list_main1,
#show_list_main2,
#show_list_main3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 120vh;
  color: aliceblue;
}

#playbar {
  width: 100%;
  height: 10vh;
  background-color: #0b1a26;
  color: black;
}
/* ----- */

#main_logo {
  height: 8vh;
  width: 8vh;
  color: aliceblue;
}

.show_image {
  width: 12vh;
  height: 12vh;
  color: aliceblue;
}
body {
  background-color: #222a32;
  color: aliceblue;
}

#filler {
  height: 100px;
}
