body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: #313335;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: aliceblue;
}
#playbar {
  background-color: #0b1a26;
}
#topbar {
  width: 100%;
  height: 12vh;
  background-color: #0b1a26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh 0 10vh;
  color: aliceblue;
}

.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  background-color: #0b1a26;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  color: aliceblue;
  position: fixed;
  left: 0;
  bottom: 0;
}
.rhap_time {
  color: aliceblue;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

#middle {
  display: flex;
  flex-direction: row;
  color: aliceblue;
}

#sidebar {
  width: 10%;
  height: 200vh;
  background-color: #14212e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

#sidebar.a {
  margin: 10px;
}

#main {
  height: 80vh;
  width: 90%;
  background-color: #222a32;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: aliceblue;
}
.show {
  max-height: 20vh;
  color: aliceblue;
}
.show_list_title {
  font-size: 2vh;
  color: aliceblue;
}

#show_list_main1,
#show_list_main2,
#show_list_main3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 120vh;
  color: aliceblue;
}

#playbar {
  width: 100%;
  height: 10vh;
  background-color: #0b1a26;
  color: black;
}
/* ----- */

#main_logo {
  height: 8vh;
  width: 8vh;
  color: aliceblue;
}

.show_image {
  width: 12vh;
  height: 12vh;
  color: aliceblue;
}
body {
  background-color: #222a32;
  color: aliceblue;
}

#filler {
  height: 100px;
}
.sidebar_btn {
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 50px;
  padding: 10px;
}
.sidebar_btn:hover {
  color: aqua;
}
.sidebar-container {
  margin: 20px;
}
.withyou {
  color: aliceblue;
  font-size: 30px;
  font-weight: 600;
}
.withyou:hover {
  color: aqua;
}
.search_btn {
  border-radius: 5%;
  height: 40px;
  width: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search_btn:hover {
  color: aqua;
}
.search_container {
  display: flex;
  flex-direction: row;
  width: 20vw;
  margin: 30px;
}
.search_item {
  margin: 10px;
}
#search_input {
  border-radius: 5%;
  height: 40px;
  padding: 0 15px 0 15px;
}
.creator_container {
  display: block;
}
.creator_btn_container {
  display: flex;
  flex-direction: row;
}
.creator_btn {
  border-radius: 5%;
  height: 40px;
  width: 30vw;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.creator_btn:hover {
  color: aqua;
}
#profile_info {
  padding: 20px;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.profile_row {
  width: 60px;
  height: 50px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
}
.profile_text {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile_title {
  width: auto;
  height: 50px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  text-align: center;
}
.profile_image_container {
  text-align: center;
  margin: 10px;
}
.profile_sub1 {
  width: auto;
  margin: 0 5% 0 10%;
  text-align: right;
}

.profile_sub2 {
  text-align: left;
  width: auto;
}
.login_btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5%;
  height: 40px;
}
.login_btn:hover {
  color: aqua;
}
.updateuser_container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
  padding: 20px;
}
.new_userimage_btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
  margin: 10px 0 10px 0;
}
.new_userimage_btn:hover {
  color: aqua;
}
#imageForm {
  display: flex;
  flex-direction: column;
  height: 40px;
  text-align: center;
  margin: 0 0 15px 0;
}

#imageInput {
  text-align: center;
  width: auto;
}
#origin_name_sub {
  margin-top: 25px;
}
.textcenter {
  text-align: center;
}
.userupdate_sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.username {
  margin: 10px;
}
.oringin_item {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
}
.input_type {
  border-radius: 5%;
  padding: 0 10px 0 15px;
  margin: 0 0 10px 0;
}
#new_name,
#new_email,
#new_pwd {
  height: 40px;
}
.btn_type {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
}
.btn_type:hover {
  color: aqua;
}
.cp_container,
.update_creator_container {
  width: 60vw;
  padding: 20px;
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
  text-align: left;
  padding: 0 0 0 10%;
}
#newshowimage {
  width: 200px;
}
#new_creator_info {
  width: 250px;
}
.update_creator_container {
  text-align: center;
}
.new_creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  margin: 10px 0 0 0;
}
