body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: 'Ubuntu', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: #313335;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: aliceblue;
}

#topbar {
  width: 100%;
  height: 12vh;
  background-color: #0b1a26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh 0 10vh;
}

#middle {
  display: flex;
  flex-direction: row;
  color: aliceblue;
}

#main {
  height: 80vh;
  width: 90%;
  background-color: #222a32;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: aliceblue;
}
.show {
  max-height: 20vh;
  color: aliceblue;
}
.show_list_title {
  font-size: 2vh;
  color: aliceblue;
}

#show_list_main1,
#show_list_main2,
#show_list_main3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 120vh;
  color: aliceblue;
}

#playbar {
  width: 100%;
  height: 10vh;
  background-color: #0b1a26;
  color: black;
}
/* ----- */

#main_logo {
  height: 8vh;
  width: 8vh;
  color: aliceblue;
}

.show_image {
  width: 12vh;
  height: 12vh;
  color: aliceblue;
}
body {
  background-color: #222a32;
  color: aliceblue;
}

.sidebar_btn {
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin: 50px;
  padding: 10px;
}
.sidebar_btn:hover {
  color: aqua;
}
.sidebar-container {
  margin: 20px;
}

.creator_container {
  display: block;
}
.creator_btn_container {
  display: flex;
  flex-direction: row;
}
.creator_btn {
  border-radius: 5%;
  height: 40px;
  width: 30vw;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.creator_btn:hover {
  color: aqua;
}

.profile_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.profile_image_container {
  text-align: center;
  margin: 10px;
}

.new_userimage_btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
  margin: 10px 0 10px 0;
}
.new_userimage_btn:hover {
  color: aqua;
}
#imageForm {
  display: flex;
  flex-direction: column;
  height: 40px;
  text-align: center;
  margin: 0 0 15px 0;
}

#imageInput {
  text-align: center;
  width: auto;
}
#origin_name_sub {
  margin-top: 25px;
}
.textcenter {
  text-align: center;
}
.userupdate_sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.username {
  margin: 10px;
}
.oringin_item {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
}
.input_type {
  border-radius: 5%;
  padding: 0 10px 0 15px;
  margin: 0 0 10px 0;
}
#new_name,
#new_email,
#new_pwd {
  height: 40px;
}
.btn_type {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
}
.btn_type:hover {
  color: aqua;
}

.creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
  text-align: left;
  padding: 0 0 0 10%;
}
#newshowimage {
  width: 200px;
}
#new_creator_info {
  width: 250px;
}
.update_creator_container {
  text-align: center;
}
.new_creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 10px 0 0 3vw;
}

.msg {
  display: flex;
  flex-direction: row;
  width: 50vw;
}
.msg_name {
  width: 8vw;
  text-align: center;
  color: #adb3b8;
}
.msg_msg {
  text-align: left;
  width: auto;
  margin: 0 20px 0 0;
}
.msg_time {
  color: darkgrey;
  margin-right: 10px;
}
.msg_time:hover {
  color: aqua;
}
.msg_time:active {
  color: rgb(161, 45, 200);
}
.msg_day {
  color: darkgrey;
}
.msg {
  margin-top: 5px;
}

#newepi_btn {
  width: 200px;
}

#new_creator_info {
  margin-top: 15px;
  margin-left: 3vw;
}
#new_show_image {
  margin-left: 30px;
  width: 200px;
}
#update_creator_info {
  margin-bottom: 0;
}
.single_epi_container {
  padding: 30px 30px 30px 50px;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

#copyrssfeed {
  height: 20px;
}
#copyrssfeed:hover {
  height: 30px;
}

#newepi_form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#episode_title,
#episode_num,
#episode_image,
#episode_explicit {
  width: 35vw;
  margin-left: 26vw;
  height: 40px;
  margin-top: 10px;
  padding: 0 20px 0 20px;
}

#episode_num,
#episode_explicit {
  width: 10vw;
  margin-left: 39vw;
  padding-left: 4vw;
}
#episode_file,
#episode_image {
  margin-left: 36vw;
  margin-top: 5px;
  margin-bottom: 0;
}

.show_name,
.show_detail {
  margin: 5px 0 5px 0;
}

.show_detail {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.show_image_choice {
  height: 150px;
}

.search_nomatch {
  padding: 30px;
}

.showlist_row {
  margin: 1vw 0 0 1vw;
}
.show_list_title {
  margin: 0.5vh 0 1vh 0;
  font-size: 18px;
  color: aliceblue;
}

.search_shows {
  min-width: 70vw;
  padding: 30px;
  margin: 0 0 2vh 0;
}
.search-show_name {
  margin-top: 1vh;
}
.search_show_category {
  margin-bottom: 3vh;
}

.row-cols-6 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.signup_title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 5px 0 5px 0;
}
#gologin,
#gosignup {
  width: 10vw;
}

.upload_element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.upimg {
  height: 40px;
  margin: 1vw 2vw 0 4vw;
}
.upimg:hover {
  box-shadow: #adb3b8;
  background-color: #3c4247;
  border-radius: 5px;
}
#uploadPercent,
#uploadPercent1,
#uploadPercent2 {
  min-width: 4vw;
  color: aliceblue;
  font-size: 20px;
  padding-top: 8px;
  margin: 1vw 0 0 1vw;
}
