/* version1 */
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ubuntu', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  color: #0b1a26;
}

#topbar {
  width: 100%;
  height: 12vh;
  background-color: #0b1a26;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh 0 10vh;
}

#middle {
  display: flex;
  flex-direction: row;
  color: aliceblue;
}

#main {
  height: 80vh;
  width: 90%;
  background-color: #222a32;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: aliceblue;
}
.show {
  max-height: 20vh;
  color: aliceblue;
}
.show_list_title {
  font-size: 2vh;
  color: aliceblue;
}

#show_list_main1,
#show_list_main2,
#show_list_main3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 120vh;
  color: aliceblue;
}

#playbar {
  width: 100%;
  height: 10vh;
  background-color: #0b1a26;
  color: black;
}
/* ----- */

#main_logo {
  height: 8vh;
  width: 8vh;
  color: aliceblue;
}

.show_image {
  width: 12vh;
  height: 12vh;
  color: aliceblue;
}
body {
  background-color: #222a32;
  color: aliceblue;
}

.sidebar_btn {
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin: 50px;
  padding: 10px;
}
.sidebar_btn:hover {
  color: aqua;
}
.sidebar-container {
  margin: 20px;
}

.creator_container {
  display: block;
}
.creator_btn_container {
  display: flex;
  flex-direction: row;
}
.creator_btn {
  border-radius: 5%;
  height: 40px;
  width: 30vw;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.creator_btn:hover {
  color: aqua;
}

.profile_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.profile_image_container {
  text-align: center;
  margin: 10px;
}

.new_userimage_btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
  margin: 10px 0 10px 0;
}
.new_userimage_btn:hover {
  color: aqua;
}
#imageForm {
  display: flex;
  flex-direction: column;
  height: 40px;
  text-align: center;
  margin: 0 0 15px 0;
}

#imageInput {
  text-align: center;
  width: auto;
}
#origin_name_sub {
  margin-top: 25px;
}
.textcenter {
  text-align: center;
}
.userupdate_sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.username {
  margin: 10px;
}
.oringin_item {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
}
.input_type {
  border-radius: 5%;
  padding: 0 10px 0 15px;
  margin: 0 0 10px 0;
}
#new_name,
#new_email,
#new_pwd {
  height: 40px;
}
.btn_type {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  height: 40px;
  width: 120px;
}
.btn_type:hover {
  color: aqua;
}

.creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 0 0 10px 0;
  text-align: left;
  padding: 0 0 0 10%;
}
#newshowimage {
  width: 200px;
}
#new_creator_info {
  width: 250px;
}
.update_creator_container {
  text-align: center;
}
.new_creator_type {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 10px 0 0 3vw;
}

.msg {
  display: flex;
  flex-direction: row;
  width: 50vw;
}
.msg_name {
  width: 8vw;
  text-align: center;
  color: #adb3b8;
}
.msg_msg {
  text-align: left;
  width: auto;
  margin: 0 20px 0 0;
}
.msg_time {
  color: darkgrey;
  margin-right: 10px;
}
.msg_time:hover {
  color: aqua;
}
.msg_time:active {
  color: rgb(161, 45, 200);
}
.msg_day {
  color: darkgrey;
}
.msg {
  margin-top: 5px;
}

#newepi_btn {
  width: 200px;
}

#new_creator_info {
  margin-top: 15px;
  margin-left: 3vw;
}
#new_show_image {
  margin-left: 30px;
  width: 200px;
}
#update_creator_info {
  margin-bottom: 0;
}
.single_epi_container {
  padding: 30px 30px 30px 50px;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

#copyrssfeed {
  height: 20px;
}
#copyrssfeed:hover {
  height: 30px;
}

#newepi_form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#episode_title,
#episode_num,
#episode_image,
#episode_explicit {
  width: 35vw;
  margin-left: 26vw;
  height: 40px;
  margin-top: 10px;
  padding: 0 20px 0 20px;
}

#episode_num,
#episode_explicit {
  width: 10vw;
  margin-left: 39vw;
  padding-left: 4vw;
}
#episode_file,
#episode_image {
  margin-left: 36vw;
  margin-top: 5px;
  margin-bottom: 0;
}

.show_name,
.show_detail {
  margin: 5px 0 5px 0;
}

.show_detail {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.show_image_choice {
  height: 150px;
}

.search_nomatch {
  padding: 30px;
}

.showlist_row {
  margin: 1vw 0 0 1vw;
}
.show_list_title {
  margin: 0.5vh 0 1vh 0;
  font-size: 18px;
  color: aliceblue;
}

.search_shows {
  min-width: 70vw;
  padding: 30px;
  margin: 0 0 2vh 0;
}
.search-show_name {
  margin-top: 1vh;
}
.search_show_category {
  margin-bottom: 3vh;
}

.row-cols-6 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.signup_title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  margin: 5px 0 5px 0;
}
#gologin,
#gosignup {
  width: 10vw;
}

.upload_element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.upimg {
  height: 40px;
  margin: 1vw 2vw 0 4vw;
}
.upimg:hover {
  box-shadow: #adb3b8;
  background-color: #3c4247;
  border-radius: 5px;
}

/* version2 */
/* global ---------------------------------------------------*/
#helper {
  position: fixed;
  left: 1.5vw;
  bottom: 15vh;
}
* {
  color: aliceblue;
}
a {
  color: aliceblue;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0 5px 0;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(219, 219, 219);
}

.introjs-tooltiptext {
  color: black;
  font-size: 1.5em;
}
/* TOPBAR ---------------------------------------------------*/
#topbar {
  background-color: #6f96a6;
  width: 100%;
  height: 6vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.withyou {
  font-weight: 400;
  font-size: 1.1em;
  margin: 0 0 0 2vw;
  font-family: 'Ubuntu', sans-serif;
}
.topbarinput {
  background-color: #6f96a6;
}
#search_input {
  height: 4vh;
  width: 14vw;
  padding: 0 2vw 0 1vw;
  color: aliceblue;
}
#search_input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: aliceblue;
}
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #677980;
  color: #677980;
  border-radius: 50px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: aliceblue !important;
  display: none !important;
}
#search_btn {
  background-color: #6f96a6;
  color: aliceblue;
  height: 4vh;
  width: 7vw;
}
#search_btn:hover {
  background-color: #6f96a6;
  color: #091d2d;
}
.search_container {
  display: flex;
  margin-right: 3vw;
}
.search_item {
  margin: 0.5vw;
}

/* SIDEBAR ---------------------------------------------------*/
#sidebar {
  background: linear-gradient(#274050, #222a32);
  width: 9vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#sidebar_logo {
  max-width: 4vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #274050;
  color: aliceblue;
}
#sidebar_home_btn {
  background-color: #274050 !important;
  width: 7vw;
  color: aliceblue;
}
#sidebar_creator_btn {
  background-color: #274050 !important;
  width: 7vw;
  color: aliceblue;
}
#sidebar_logout_btn {
  background-color: #274050 !important;
  width: 7vw;
  color: aliceblue;
}
#sidebar_login_btn {
  background-color: #274050 !important;
  width: 7vw;
  color: aliceblue;
  margin-top: 0;
}
#sidebar_home_btn:hover,
#sidebar_creator_btn:hover,
#sidebar_login_btn:hover {
  color: #677980;
}

/* PLAYBAR ---------------------------------------------------*/
.rhap_container {
  height: 10vh;
  width: 100vw;
  padding: 1vh 3vw 1vh 3vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: linear-gradient(#222a32, #091d2d);
  border-style: none;
  color: aliceblue;
}
.rhap_time {
  color: aliceblue;
  font-size: 1em;
}
/* SHOWLIST ---------------------------------------------------*/
#showlist_container {
  width: 80vw;
  margin: 0 0 0 5vw;
}
.show_list_title {
  font-size: 1.3em;
  margin: 0 0 0.5vh -2vw;
  color: #6f96a6;
}
.card_container {
  width: 10vw;
  height: 10vw;
  background-color: #222a32;
}
.card_image {
  width: 7vw;
  height: 7vw;
}
#card_content {
  height: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  background: linear-gradient(#222931, #29323b);
  border: 2px solid #1c2228 !important;
}
.css-1gqyz35-MuiTypography-root {
  color: aliceblue !important;
  font-size: 0.5em !important;
}
.css-46bh2p-MuiCardContent-root {
  text-align: center;
  padding: 0.5vh 0 0 0;
}
.show_item {
  text-decoration: none;
}

/* SHOWCHOICE ---------------------------------------------------*/
.show_info_container {
  width: 80vw;
  height: auto;
  padding: 2vw 2vw 0 2vw;
  display: flex;
  flex-direction: row;
}

.show_info_l {
  min-width: 16vw;
  max-width: 16vw;
  text-align: center;
  margin: 0 1vw 0 0;
  padding: 0;
}
#show_card_title {
  margin: 0 0 1vh 0;
  font-size: 1em !important;
}
#show_card_author {
  margin: 1vh 0 0 0;
  font-size: 1em !important;
}
#show_card_cate {
  margin: 1vh 0 1vh 0;
  font-size: 1em !important;
}
.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0;
}
#sub_more_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vh;
}
#sub_btn,
#unsub_btn,
#more_btn,
#less_btn {
  min-width: 5vw;
  max-width: 5vw;
  background-color: #222a32;
  color: aliceblue;
  border: 2px solid rgba(70, 65, 65, 0.595);
}
#unsub_btn,
#less_btn {
  color: #677980;
}
#show_info_r {
  margin-top: 0;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 35vh;
  max-height: 35vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vw;
}
.show_info_r {
  text-align: left;
  align-self: center;
}
.show_des {
  font-size: 1em;
  padding: 1vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.show_epi_container {
  width: 80vw;
  padding: 0 30px 0 30px;
}
.episode_card_container {
  margin: 0 0 1vh 3vw;
  min-width: 70vw;
  max-width: 70vw;
  background: linear-gradient(#222a32, #29323b);
}
.episode_card_link {
  text-decoration: none;
}
.episode_single:hover {
  background-color: #6f96a6;
}
.episode_container {
  text-align: left;
}
.episode_single {
  margin: 2vh 0 2vh 0;
  display: flex;
  flex-direction: row;
}
.episode_date {
  color: #adb3b8;
  font-size: 0.5em;
}
.duration_container {
  min-width: 10vw;
  text-align: center;
}
.episode_duration {
  margin-top: 1vh;
}

/* EPICHOICE ---------------------------------------------------*/
.chat_info {
  width: 80vw;
  padding: 1.5vw 3vw 0 3vw;
  display: flex;
  flex-direction: row;
}
.chat_info_l {
  min-width: 15vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.chat_info_r {
  min-width: 60vw;
  max-width: 60vw;
  margin: 1vw;
}
#play_more_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#play_btn,
#more_des_btn,
#less_des_btn {
  margin: 2vh 0 0 0;
  max-width: 5vw;
  min-width: 5vw;
  background-color: #222a32;
  color: aliceblue;
  border: 2px solid rgba(70, 65, 65, 0.595);
}
#less_des_btn {
  color: #677980;
}
#episode_choice {
  padding: 1vh 0 1vh 0;
  min-width: 15vw;
  max-width: 15vw;
  min-height: 30vh;
  max-height: 30vh;
}
#episode_choice_image {
  min-width: 10vw;
  max-width: 10vw;
  min-height: 10vw;
  border-radius: 10px;
  margin: 1vh 0 1vh 0;
}
#episode_choice_des {
  margin: 0 0 0 1vw;
}
#episode_choice_des {
  margin-top: 0;
  min-width: 65vw;
  max-width: 65vw;
  min-height: 35vh;
  max-height: 35vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vw 1vw 1vw 1vw;
}
#epi_des {
  font-size: 1em;
  padding: 1vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.msg_msg {
  min-width: 25vw;
  max-width: 25vw;
}
#chatbox {
  margin: 2vh 0 0 0;
  width: 75vw;
  padding: 2vw 2vw 1vw 2vw;
  margin-left: 5vw;
}
#send_msg {
  background-color: #091d2d;
  color: aliceblue;
  min-width: 5vw;
  margin: 0 0 0 0;
  border: 2px solid #6f96a6;
}
#msg_container {
  max-width: 46vw;
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#msg {
  color: aliceblue;
  min-height: 5vh;
  width: 35vw;
  margin-top: 1vh;
  padding: 0 2vw 0 2vw;
}
#chatroom {
  width: 70vw;
  max-width: 70vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 300px;
  max-height: 300px;
  background-color: rgba(83, 87, 95, 0);
  color: aliceblue;
}
/* LOGIN ---------------------------------------------------*/

#login_container {
  margin: 5vw;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 60vh;
  max-height: 60vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#login_signup_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  margin: 0 0 1vh 8vw;
}
#gologin,
#gosignup {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #1f2f35;
}

#signup_submit {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  margin: 5vh 0 0 0;
  width: 10vw;
}

#signup {
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#signup_l,
#signup_r {
  min-height: 35vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
#signup_r {
  margin: 0 0 0 3vw;
}
.signup_title {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
}
#S_name,
#S_email,
#S_pwd,
#S_birth,
#L_email,
#L_pwd {
  color: aliceblue;
  height: 2vh;
  padding-left: 2vw;
}

#login {
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#login_l,
#login_r {
  min-height: 35vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
#login_r {
  margin: 0 0 0 3vw;
}
#login_submit {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  margin: 2vh 0 0 0;
  width: 10vw;
}
/* CREATOR ---------------------------------------------------*/
#creator_container {
  min-width: 84vw;
  max-width: 84vw;
  margin: 2vw;
}
#creator_userprofile_btn,
#creator_creatorpodcast_btn,
#creator_episode_btn {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #1f2f35;
  min-width: 28vw;
}
/* CREATOR USER PROFILE  ---------------------------------------------------*/
#userimage {
  margin-top: 2vh;
}
#profile_info {
  padding: 3vw;
  width: 60vw;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.profile_row {
  height: 5vh;
  width: 10vw;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  color: #6f96a6;
}
.profile_text {
  height: 5vh;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
}
.profile_sub1 {
  height: 20vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.profile_sub2 {
  height: 20vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 3vw;
}
#userprofile_image {
  max-width: 10vw;
  min-width: 10vw;
}
#subshows_container,
#historyshows_container {
  width: 80vw;
  height: 30vh;
  margin-left: 2vw;
  margin-bottom: 3vh;
  overflow-y: scroll;
}
.profile_subtitle {
  font-size: 1.5em;
  margin-left: 3vw;
  margin-bottom: 0.5vh;
  color: #6f96a6;
}
#update_userprofile_image {
  width: 10vw;
  height: 10vw;
  margin-bottom: 2vh;
}
.updateuser_container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  text-align: center;
  padding: 20px;
  height: 55vh;
}
#updateuser_r {
  width: 50vw;
  justify-content: left;
  text-align: left;
  margin-left: 3vw;
}
#update_userprofile_btn1,
#update_userprofile_btn2 {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  margin: 2vh 0 0 0;
  width: 10vw;
}
#update_userprofile_btn2 {
  width: 20vw;
  margin-left: 2vw;
  margin-top: 4vh;
}
#new_name,
#new_email,
#new_pwd {
  width: 20vw;
  height: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  color: aliceblue;
}
.origin_info {
  margin: 1.5vh 0 1vh 0;
  color: #6f96a6;
}
.profile_title {
  font-size: 1.5em;
  margin: 1vh 0 0 6vw;
  color: #6f96a6;
}
#uploadPercent {
  color: #6f96a6;
}
#pre_upload {
  margin-top: 2vh;
  color: #6f96a6;
}
#upuser_image {
  margin: -12vh 0 0 10vw;
}
#update_userprofile_btn1 {
  margin: 1vh 0 0 -12vw;
}
/* CREATOR CREATOR PODCAST  ---------------------------------------------------*/
#showimage {
  margin-top: 2vh;
}
#show_image {
  max-width: 10vw;
  max-height: 10vw;
  margin-left: 2vw;
  margin-top: 5vh;
}
.cp_container {
  width: 60vw;
  padding: 20px;
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#cp_r {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 50vh;
  justify-content: space-around;
  margin-left: 3vw;
  margin-top: 3vh;
}
#cp_r_l {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 50vh;
  justify-content: space-around;
}
#cp_r_r {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 50vh;
  justify-content: space-around;
}
.origin_cp_info {
  color: #6f96a6;
}
#rssfeed {
  background-color: #222a32;
  width: 45vw;
  padding-left: 1vw;
  border: none;
  color: #6f96a6;
}
#rssfeed:hover {
  cursor: copy;
}
.update_creator_container {
  width: 60vw;
  height: 50vh;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vw;
}
#new_creator_info,
#newshowimage {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  margin: 5vh 0 0 0;
  width: 15vw;
}
#new_creator_info {
  width: 20vw;
}
#newshowimage {
  margin-left: 2vw;
}
.new_creator_type {
  color: #6f96a6;
  font-size: 1em;
  margin: 1vh 0 1vh 0;
}
#upcp_r {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 4vw;
}
#new_creator_name,
#new_creator_email,
#new_show_name,
#new_show_des,
#new_show_category {
  padding: 0 2vw 0 2vw;
  width: 30vw;
  height: 6vh;
  color: aliceblue;
}
#new_show_category {
  padding-left: 8vw;
  padding-right: 8vw;
  width: 34vw;
  border-radius: 50px;
  color: #6f96a6;
}
#cp_all_container {
  height: 80vh;
}
#cp_upload_image {
  margin: -10vh -10vw 0 0;
}
#gomypage {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  width: 12vw;
  margin-left: -1vw;
  margin-top: 1vh;
  margin-bottom: -2vh;
}
#QRcode {
  margin-top: 5vh;
  margin-top: 35vh;
  margin-bottom: 1vh;
}
#copyQRcode {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  width: 6vw;
}
#linktomypage {
  text-decoration: none;
}
/* CREATOR EPISODE  ---------------------------------------------------*/
#noepi_yet {
  margin: 2vw;
  font-size: 2em;
}
#nowimage {
  margin-left: 2vw;
  margin-top: -16vh;
}
#nowfile {
  margin-left: 2vw;
  margin-top: 3vh;
}
#allepi_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2vh;
}
.single_epi_card {
  width: 75vw;
  margin: 2vh 0 0 5vw;
}
#single_epi_parts {
  display: flex;
  flex-direction: row;
}
.single_epi_info {
  width: 50vw;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}
#single_epi_info_l {
  width: 5vw;
}
#single_epi_info_r {
  margin-left: 3vw;
  width: auto;
}
.single_epi_detail {
  font-size: 1em;
  font-weight: 400;
  color: #6f96a6;
}
.single_epi_title {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  color: #6f96a6;
  margin-bottom: 10px;
}

.single_epi_details {
  font-size: 1em;
  font-weight: 400;
  color: aliceblue;
}
.single_epi_titles {
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
  margin-bottom: 10px;
}
#single_epi_edit {
  margin: 2vh 0 -3vh 2vh;
  width: 3vw;
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #1f2f35;
}
#single_edit_parts {
  display: flex;
  flex-direction: row;
}
#single_edit_parts_l {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 15vw;
  justify-content: space-around;
}

#single_edit_parts_r {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-around;
}
.edit_parts {
  color: #6f96a6;
}
#newepi_title,
#newepi_des {
  height: 1vh;
  color: aliceblue;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #274050;
  border-radius: 20px;
}

#newepi_explicit,
#newepi_episode {
  background-color: #222a32;
  border-radius: 50px;
  height: 4vh;
  padding-left: 10vw;
  color: #6f96a6;
}
#single_update_btn,
#single_status_on,
#single_status_off,
#single_epi_remove {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  width: 15vw;
  margin-left: 5vw;
}
#single_status_off {
  color: #adb3b8;
  background-color: #677980;
}

#single_epi_remove {
  color: #6e151f;
  background-color: #555c5f;
}
#show_status_on,
#show_status_off {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  width: 10vw;
  margin-bottom: -1vh;
  margin-left: 0;
}
#show_status_off {
  color: #adb3b8;
  background-color: #677980;
}

#audiofile_btn,
#imagefile_btn {
  width: 3vw;
}
.image_btn_container {
  display: flex;
  flex-direction: row;
  margin: -2vh 0 0 -2vw;
}
#newepi_episode {
  margin-top: 0;
}
#uploadPercent1,
#uploadPercent2 {
  color: aliceblue;
  margin-top: 2vh;
}
#newepi_btn {
  background-color: #091d2d;
  color: aliceblue;
  border: 2px solid #6f96a6;
  margin: 5vh 0 0 0;
  width: 30vw;
}
.newepi-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  height: 120vh;
}
.single_epi_title {
  font-size: 1em;
  width: 20vw;
  margin: 1vh 0 0 0;
}
#newepi_title {
  color: aliceblue;
  background-color: #274050;
  border-radius: 20px;
  padding-left: 3vw;
  padding-right: 3vw;
}
#create_newepi_title {
  color: aliceblue;
  height: 5vh;
  background-color: #274050;
  border-radius: 20px;
  padding-left: 3vw;
  padding-right: 3vw;
}

#episode_des {
  background-color: #181c22 !important;
  border-radius: 20px;
  margin-left: 0;
  min-width: 30vw;
  min-height: 20vh;
  padding: 2vw;
}
#episode_num {
  background-color: #181c22 !important;
  margin-left: 0;
  margin-top: 0;
  border-radius: 50px;
  width: 25vw;
  padding-left: 10vw;
}
#episode_explicit {
  background-color: #181c22 !important;
  margin-left: 0;
  margin-top: 0;
  border-radius: 50px;
  width: 25vw;
  padding-left: 10vw;
}
#image_btn_container1,
#image_btn_container2 {
  display: flex;
  flex-direction: row;
}
#microphone_btn,
#photo_btn {
  margin-left: -4vw;
  padding-bottom: 1vh;
  margin-top: 1vh;
}
#newepi_card {
  width: 80vw;
  margin: 1vw;
  margin-left: 2vw;
  height: 115vh;
}
/* FILLER ---------------------------------------------------*/

#filler_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
#filler {
  height: 13vh;
  background-color: #222a32;
  color: #274050;
  margin: 0 0 0 1vw;
}
.alert {
  color: aliceblue;
}
.swal2-container.swal2-center > .swal2-popup {
  background-color: #7794a0;
  border: solid 5px aliceblue;
}
.swal2-styled.swal2-confirm {
  background-color: #222a32;
}
.swal2-styled.swal2-confirm {
  background-color: #274050 !important;
}
.swal2-styled.swal2-cancel {
  background-color: #851b1b !important;
}
/* DEPLOY TEST RESIVE ---------------------------------------------------*/
.css-1okfn8i {
  background: linear-gradient(#274050, #274050, #222a32) !important;
}
.css-nbfzex {
  color: aliceblue !important;
}
#episode_des {
  background-color: #274050 !important;
}
#episode_num {
  background-color: #274050 !important;
}
#episode_explicit {
  background-color: #274050 !important;
}
#newepi_explicit {
  background-color: #274050 !important;
}
#newepi_episode {
  background-color: #274050 !important;
}
#new_show_category {
  background-color: #1b242d !important;
}
.css-p0rm37 {
  color: aliceblue !important;
  display: none !important;
}
#S_birth {
  color: #6f96a6;
}
#nowplay_btn {
  z-index: 999;
  max-width: 25vw;
  min-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#now_link {
  text-decoration: none;
}
#now_link:hover {
  color: #222a32;
}
/* version3 */
