#show_details {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}

#main {
  display: block;
}

.episode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.episode_date,
.episode_title,
.episode_play {
  display: block;
}
